body {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    font-size: 18px;
}

/* Styles for section one */
.section.one {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 30px 210px;
    gap: 50px;
}

.one.logo,
.one.body,
.one.list,
.one.image,
.two.card-container {
    margin-bottom: 100px;
}

/* Left portion of header */
.one.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 900;
}

.one.body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.one.image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.p1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

/* Right portion of header */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 0px 16px;

    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #b4b7be;
}

.left-box {
    max-width: 31%;
}

.left-box,
.right-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    all: unset;
    background: #3882F6;
    color: white;
    padding: 5px 25px;
    border-radius: 4px;
    border-color: none;
}

/* Styles for section-two */
.two.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.two.card-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.card-test {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    width: 200px;
    height: 200px;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.section.three {
    background-color: pink;
}

/* Adding image placeholder in section one */
.plc-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 600px;
    height: 250px;
    background-color: gray;
}