body {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    font-size: 18px;
}

p {
    margin: 0;
}

/* Styles for section one */
.section.one {
    display: flex;
    justify-content: space-around;
    padding: 30px 210px;
    gap: 50px;
}

.one.logo,
.one.body,
.one.list,
.one.image,
.two.card-container {
    margin-bottom: 100px;
}

/* Left portion of header */
.one.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 900;
}

.one.body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.one.image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.p1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

/* Right portion of header */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 0px 16px;

    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #b4b7be;
}

.left-box {
    max-width: 31%;
}

.left-box,
.right-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    all: unset;
    background: #3882F6;
    color: white;
    padding: 5px 25px;
    border-radius: 4px;
    border-color: none;
}

/* Styles for section-two */
.two.title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 40px;
}

.two.card-container {
    display: flex;
    justify-content: center;
}

.card-test {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

/* Adding image placeholder in section one */
.plc-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 600px;
    height: 250px;
    background-color: gray;
}

.section.two,
.section.three {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 25vh;
}

.section.two {
    justify-content: center;
    align-items: center;
}

/* Section three */
.section.three {
    background-color: #E5E7EB;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.two.title,
.card-test,
.section.three {
    color: #1F2937;   
}

.quote {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.quotation {
    width: 800px;
    height: auto;
}

/* Styles for section four */
.section.four {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 100px 200px;
    min-height: 25vh;
}

.box {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px;
    justify-content: space-around;
}

.four.sign-up {
    display: flex;
    justify-content: flex-end;
    background: none;
    border: 2px solid white;
}

#cta {
    font-size: 24px;
    font-weight: 900;
}

#cta-sign {
    font-size: 18px;
}

.outer-test {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.one,
.footer {
    background-color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}