body {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
}

.section.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    /*
    
    flex: 1;
    */
}

.header {
    display: flex;
    justify-content: space-around;
}

/* Left portion of header */
.header-logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
}

.p1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

/* Right portion of header */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 16px;

    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


/*



.left-box,
.right-box {
    display: flex;
    flex-direction: column;
}

.image {
    background-color: gray;
}

*/